@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('SamsungSharpSans.woff2') format('woff2'),
        url('SamsungSharpSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('SamsungSharpSans-Bold.woff2') format('woff2'),
        url('SamsungSharpSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('SamsungSharpSans-Medium.woff2') format('woff2'),
        url('SamsungSharpSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* ***** Common Css **** */
:root {
    scroll-behavior: initial;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
}
ol,
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
a {
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    text-decoration: none;
}

body {
    font-family: 'Samsung Sharp Sans';
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

.main-wrpper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1670px;
}
/* ***** End Common Css **** */

/* **** Header **** */
header {
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    background: #fff;
    padding: 36px 0 42px;
    z-index: 120;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
}
.navbar .container .navbar-brand,
.navbar .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-brand {
    float: none;
    height: auto;
    padding: 0;
    margin: 0 auto;
}
.navbar-brand img {
    max-width: 100%;
    height: 45px;
}
.navbar {
    background: transparent;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    z-index: 120;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
}
.navbar-light .navbar-nav {
    margin: 0 auto;
}
.navbar-light .navbar-nav li {
    margin-right: 54px;
}
.navbar-light .navbar-nav li:last-child {
    margin-right: 0;
}
.navbar-light .navbar-nav .nav-link {
    padding: 0;
    color: #1A1A1A;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px; 
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:hover {
    color: #ff0000;
}
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:focus,
.navbar .navbar-nav .active a:hover {
    color: #ff0000;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff0000;
}
.top-bar {
    padding: 34px 0 32px;
    border-bottom: 1px solid #D4D4D4;
}
.top-bar .con-list {
    display: flex;
    align-items: center;
}
.top-bar .con-list li {
    margin-right: 47px;
}
.top-bar .con-list li:last-child {
    margin: 0;
}
.top-bar .con-list a {
    color: #000;
    font-size: 22px;
    font-weight: 700;
}
.top-bar .con-list a i {
    font-weight: 500;
}
.top-bar .con-list a:hover {
    color: #4CC2A2;
}

/* **** End Header **** */


/* **** toggler **** */
.navbar-light .navbar-toggler {background-color: transparent;border-radius: 0;outline: none;box-shadow: none;border: none;height: 40px;width: 50px;padding: 0;}
.navbar-light .navbar-toggler:focus {box-shadow: none;outline: none; }
.navbar-light .navbar-toggler .navbar-toggler-icon {background-image: unset;}
.navbar-toggler:active, .navbar-toggler:focus { outline: none; }
.navbar-light .navbar-toggler-icon {width: 24px;height: 18px;background-image: none;position: relative;border-bottom: 2px solid #000;transition: all 300ms linear;}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {width: 24px;position: absolute;height: 2px;background-color: #000;top: 0;left: 0;content: "";z-index: 2;transition: all 300ms linear;}
.navbar-light .navbar-toggler-icon:after {top: 8px;}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {transform: rotate(45deg);}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {transform: translateY(8px) rotate(-45deg);}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {border-color: transparent;}
/* **** End toggler **** */

/* ***** End Fix Header **** */

/* *** Start Hero Banner *** */
.hero-banner-wrp {
    height: 100vh;
    position: relative;
    background-image: url(../images/hero-banner-img.png);
    background-size: cover;
}
.hero-banner-wrp .hero-block {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    max-width: 859px;
}
.hero-banner-wrp .hero-block h1{
    color: #1A1A1A;
    font-size: 90px;
    font-weight: 700;
    line-height: 105px; 
    margin: 0 0 46px;
}
.hero-banner-wrp .hero-block p {
    color: #707070;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 58px;
    max-width: 711px;
}
.hero-banner-wrp .hero-block .hero-btn {
    display: flex;
    align-items: center;
}
.hero-banner-wrp .hero-block .hero-btn a.primary-btn {
    margin-right: 5px;
}
a.primary-btn {
    display: table;
    color: #fff;
    padding: 22px 27px;
    border-radius: 34px;
    background: #1A1A1A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    border: 1px solid transparent;
    line-height: 20px;
}
a.primary-btn:hover {
    color: #1A1A1A;
    border: 1px solid #1A1A1A;
    background: transparent;
}
a.secondary-btn {
    display: table;
    padding: 22px 27px;
    border-radius: 34px;
    border: 1px solid #1A1A1A;
    color: #1A1A1A;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px; 
    margin: 0;
}
a.secondary-btn:hover {
    background: #1A1A1A;
    color: #fff;
    border: 1px solid transparent;
}
/* *** End Hero Banner *** */

/* *** Start Appoinment *** */
.appointment-wrp {
    padding: 60px 0;
    border-bottom: 1px solid #D4D4D4;
}
.appointment-wrp .row {
    align-items: center;
}
.appointment-wrp .appiont-title h2{
    color: #1A1A1A;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px; 
    margin: 0;
}
.appointment-wrp .form-block {
    display: flex;
    position: relative;
    justify-content: end;
}
.appointment-wrp .form-block:after {
    position: absolute;
    content: "";
    top: 0;
    left: 66px;
    width: 1px;
    height: 232px;
    background: #D4D4D4;
}
.appointment-wrp .form-block form {
    width: 1022px;
    display: flex;
}
.appointment-wrp .form-block form .grp-con {
    width: 33%;
}
.form-block form .grp-con .form-group {
    margin: 0 0 20px 0;
}
.form-block form .grp-con .form-group .form-control {
    width: 324px;
    height: 59px;
    border-radius: 50px;
    border: 1px solid #D4D4D4;
    background: #FFF;
    padding: 24px 0 24px 24px;
    outline: none;
    box-shadow: none;
}
.form-block form .grp-con .form-group .service {
    padding: 0 24px;
    border-radius: 50px;
    border: 1px solid #D4D4D4;
    width: 324px;
    height: 59px;
    color: #999;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}
.form-block form .grp-con .form-group .form-control::placeholder {
    color: #999;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}
.form-block form .grp-con .form-group .address {
    height: 138px;
    border-radius: 18px;
}
.form-block form .grp-con button {
/*    display: table;*/
    color: #fff;
    padding: 22px 27px;
    border-radius: 34px;
    background: #1A1A1A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    border: 1px solid transparent;
    line-height: 20px;
}
.form-block form .grp-con button:hover {
    color: #1A1A1A;
    border: 1px solid #1A1A1A;
    background: transparent;
}
/* *** End Appoinment *** */
