@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('SamsungSharpSans.woff2') format('woff2'),
        url('SamsungSharpSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('SamsungSharpSans-Bold.woff2') format('woff2'),
        url('SamsungSharpSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('SamsungSharpSans-Medium.woff2') format('woff2'),
        url('SamsungSharpSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

